<div class="opt-group">
    <div class="pouvoirs-section">
        <h3>Sélection des Pouvoirs</h3>
        <div class="pouvoirs-container">
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-marelle" 
                        name="system.options.marelle" 
                        {{#if system.options.marelle}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-marelle">Marelle</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-logrus" 
                        name="system.options.logrus" 
                        {{#if system.options.logrus}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-logrus">Logrus</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-atouts" 
                        name="system.options.atouts" 
                        {{#if system.options.atouts}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-atouts">Atouts</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-metamorphose" 
                        name="system.options.metamorphose" 
                        {{#if system.options.metamorphose}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-metamorphose">Métamorphose</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-pentacre" 
                        name="system.options.pentacre" 
                        {{#if system.options.pentacre}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-pentacre">Pentacre</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-coeurflamme" 
                        name="system.options.coeurflamme" 
                        {{#if system.options.coeurflamme}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-coeurflamme">Coeur-Flamme</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-orbochromat" 
                        name="system.options.orbochromat" 
                        {{#if system.options.orbochromat}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-orbochromat">Orbochromat</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-abreuvoir" 
                        name="system.options.abreuvoir" 
                        {{#if system.options.abreuvoir}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-abreuvoir">Abreuvoir</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-harmonium" 
                        name="system.options.harmonium" 
                        {{#if system.options.harmonium}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-harmonium">Harmonium</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-chimerion" 
                        name="system.options.chimerion" 
                        {{#if system.options.chimerion}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-chimerion">Chimérion</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-sabliers" 
                        name="system.options.sabliers" 
                        {{#if system.options.sabliers}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-sabliers">Sabliers d'Ujuhe</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-abysses" 
                        name="system.options.abysses" 
                        {{#if system.options.abysses}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-abysses">Abysses</label>
            </div>
            <div class="pouvoir-row">
                <input type="checkbox" 
                        id="pouvoir-magie" 
                        name="system.options.magie" 
                        {{#if system.options.magie}}checked{{/if}}
                        data-dtype="Boolean"/>
                <label for="pouvoir-magie">Magie</label>
            </div>
        </div>
    </div>
</div>